*{
    margin: 0;
    padding: 0;
}

.container{
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.title{
    margin-top: 20px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 260px;
}

.imgCard{
  width: 100%;
}
  
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
  padding: 2px 16px;
}

.tickets{
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.non-tickets{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-explorer{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nameNft{
  font-weight: 450;
}

.explorerBlockchain{
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: blueviolet;
  background-image: linear-gradient(39deg, rgba(121,0,95,1) 17%, rgba(255,85,0,1) 100%);
  color: #ffffff;
}
